<div class="container-fluid">

  <div class="container">
    <br>
    <br>
    <hr>
    <div class="row ">
      <div class="col-6 ">
        <br>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <br>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <br>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
      <div class="col-6">
        <br>
        <div class="row">
          <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

      </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="row justify-content-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti praesentium rem!
        </div>

      </div>
      <div class="col-6">
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary">Primary</button>
        </div>

      </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="row justify-content-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro esse libero nam eius tempore aliquam
      officia vitae quis, odit maxime autem temporibus ad facere amet aliquid, distinctio perferendis nesciunt
      incidunt.
    </div>
  </div>
</div>

