<div class="container-fluid">

  <div class="container">
    <br>
    <br>
    <hr>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, neque, quibusdam dolorum esse
      blanditiis nobis debitis tempore possimus corrupti atque ipsa quas inventore porro, earum quisquam. Nisi
      dolore recusandae rerum?</h3>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, excepturi. Cum animi optio eos
      molestiae, magni atque non dolorum facere? Iusto repellat quos deserunt nam recusandae mollitia magnam
      perferendis obcaecati?</h3>
    <br>
    <br>
    <hr>
    <div class="row justify-content-md-center">

      <h1>Блок о разработчике</h1>

    </div>
    <div class="row">
      <div class="col-sm-8">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem cum
        nam mollitia numquam eligendi a pariatur ex, sunt voluptatibus sint sapiente illum, dolores
        corrupti! Consequuntur molestias veritatis ut nulla!</div>
      <div class="col-sm-4"><img class="img-fluid rounded" src="assets/david.jpg" alt=""></div>
    </div>
    <br>
    <br>
    <hr>
    <div class="card text-center">
      <div class="card-header">
        Контакты
      </div>
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptate
          dolorem vitae voluptates harum non?</p>

      </div>
      <div class="card-footer text-muted">
        Lorem, ipsum dolor.
      </div>
    </div>
  </div>
</div>


/
